# Environment variables
.env

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.python-version

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/
archive_discord.log
files/

# db
*.db

# cache
cache/

# Log files
discord_bot_dev.log*
discord_bot.log*

# Coverage reports
.coverage
coverage/
htmlcov/

# Local development
local_settings.py
*.local

# Temporary files
*.tmp
*.bak
*.swp

# New file
channel_descriptions.json

# Docker related files
Dockerfile*
docker-compose*.yml
.docker
.dockerignore

# Data directory
data/
data/*

# OS
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
