# Environment variables
.env

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.installed.cfg
*.egg
.python-version

# Virtual Environment
venv/
env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*~

# Logs
*.log
logs/
archive_discord.log
files/

# db
*.db

# cache
cache/

# Log files
discord_bot_dev.log*
discord_bot.log*

# Coverage reports
.coverage
coverage/
htmlcov/

# Local development
local_settings.py
*.local

# Temporary files
*.tmp
*.bak
*.swp

# New file
channel_descriptions.json

# Docker related files
Dockerfile*
docker-compose*.yml
.docker
.dockerignore
